Flask>=3.0.0
Flask-SQLAlchemy>=3.1.0
Flask-Migrate>=4.0.0
psycopg2-binary>=2.9.0 # For PostgreSQL
# If using SQLite, you might not need a specific entry if using Python's built-in sqlite3
numpy>=2.2.0
SQLAlchemy>=2.0.0
alembic>=1.9.0
pandas>=2.0.0
Flask-SocketIO>=5.3.0
eventlet>=0.33.0
Flask-Login>=0.6.0
Flask-Bcrypt>=1.0.0
bcrypt>=4.0.0
pytest>=7.0.0 # Added pytest
pytest-flask>=1.2.0 # Added pytest-flask
Werkzeug>=3.0.0
Jinja2>=3.1.0
itsdangerous>=2.2.0
click>=8.1.0
blinker>=1.8.0
MarkupSafe>=2.1.0
greenlet>=1.0.0
Mako>=1.3.0
python-socketio>=5.12.0
python-engineio>=4.11.0
bidict>=0.23.0
dnspython>=2.6.0
simple-websocket>=1.0.0
wsproto>=1.2.0
